<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>Account Details</h2>
<p>Name: <span th:text="${customerDto.name}"></span></p>
<p>Email: <span th:text="${customerDto.email}"></span></p>
<p>Mobile Number: <span th:text="${customerDto.mobileNumber}"></span></p>

<h3>Account Information</h3>
<p>Account Number: <span th:text="${customerDto.accountsDto.accountNumber}"></span></p>
<p>Account Type: <span th:text="${customerDto.accountsDto.accountType}"></span></p>
<p>Branch Address: <span th:text="${customerDto.accountsDto.branchAddress}"></span></p>

<a th:href="@{/api/deleteAccount/{mobileNumber}(mobileNumber=${customerDto.mobileNumber})}" class="btn btn-danger">DELETE</a>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-Uoq0s8Zi2EVKaUhA21FZgBAsxxuq98P5a4fRxp3Jq9mOMz9+oOv6UEF4IdM4O6jZ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
